{{!

// button

}}<button class="button{{!
    }}{{#ui}} button-{{.}}{{/ui}}{{! light, stable, positive, calm, balanced, energized, assertive, royal, dark

    }}{{#if icon}}{{!

        }}{{#if iconPos}} icon-{{iconPos}}{{else}} icon{{/if}}{{!
        }} ion-{{icon}}{{!

    }}{{/if}}{{!

    }}{{#if_eq active compare=true default=false}} active{{/if_eq}}{{!
    }}{{#if_eq hidden compare=true default=false}} hidden{{/if_eq}}{{!

    }}{{> cssClass}}"{{!
    }}{{> style}}{{!

    }}{{#if_eq disabled compare=true default=false}} disabled="disabled"{{/if_eq}}{{!

    }}{{> id}}>{{!

    }}{{#text}}{{.}}{{/text}}{{!

}}</button>