{{!

// tabs

}}<div class="tabs{{!
    }}{{#ui}} tabs-{{.}}{{/ui}}{{!
    }}{{#iconPos}} tabs-icon-{{.}}{{/iconPos}}{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{> items}}{{!

}}</div>
