{{!

// addtohome

}}<div class="addtohome{{#isAndroid}} android{{/isAndroid}}{{#cssClass}} {{.}}{{/cssClass}}"{{> id}}>{{!
    }}<div class="addtohome-popup">{{!

// icon

        }}<div class="addtohome-icon">{{!
            }}<div class="addtohome-icon-image" style="background-image: url({{image}});">&nbsp;</div>{{!
        }}</div>{{!

// content

    }}<div class="addtohome-content">{{!
        }}{{> items}}{{!
    }}</div>{{!

// close

    }}<div class="addtohome-close">{{!
        }}<span class="addtohome-closebtn">&#10060;</span>{{!
    }}</div>{{!

    }}</div>{{!
}}</div>