{{!

// checkbox

}}<div class="ui-checkbox">{{!

    }}<label class="{{!
        }}ui-checkbox-{{#if_eq value compare=true default=false}}on{{else}}off{{/if_eq}}{{!
        }} ui-btn{{!
        }}{{#ui}} ui-btn-up-{{.}}{{/ui}}{{!
        }} ui-btn-corner-all{{!
        }}{{#if_eq size compare="small" default="medium"}} ui-mini{{else}} ui-fullsize{{/if_eq}}{{!
        }} ui-btn-icon-left"{{!
        }}{{#id}} id="{{.}}-ui"{{/id}}>{{!

        }}<span class="ui-btn-inner">{{!
            }}<span class="ui-btn-text">{{#label}}{{.}}{{/label}}</span>{{!
            }}<span class="ui-icon{{!
                }} ui-icon-checkbox-{{#if_eq value compare=true default=false}}on{{else}}off{{/if_eq}}{{!
                }} ui-icon-shadow">&nbsp;</span>{{!
        }}</span>{{!

    }}</label>{{!

    }}<input type="checkbox"{{!
        }}{{#name}} name="{{.}}"{{/name}}{{!
        }}{{> id}}{{!
    }}>{{!

}}</div>
