<div class="ui-collapsible{{!
    }}{{#if_eq inset compare=true default=false}}{{!
        }} ui-collapsible-inset{{!
    }}{{/if_eq}}{{!
    }}{{#corner}} ui-corner-{{.}}{{/corner}}{{!
    }} ui-collapsible-themed-content{{!
    }}{{#if_eq collapsed compare=true default=false}}{{!
        }} ui-collapsible-collapsed{{!
    }}{{/if_eq}}{{!
    }}"{{!
    }}{{> id}}>{{!

// header

    }}<h4 class="ui-collapsible-heading{{!
        }}{{#if_eq collapsed compare=true default=false}}{{!
            }} ui-collapsible-heading-collapsed{{!
        }}{{/if_eq}}{{!
        }}"{{!
        }}{{#id}} id="{{.}}-header"{{/id}}>{{!
        }}<a href="javascript:;" class="ui-collapsible-heading-toggle ui-btn{{!
            }}{{#if_eq size compare="small" default="medium"}}{{!
                }} ui-mini{{!
            }}{{else}}{{!
                }} ui-fullsize{{!
            }}{{/if_eq}}{{!
            }}{{#if header.ui}}{{!
                }} ui-btn-up-{{header.ui}}{{!
            }}{{else}}{{!
                }}{{#ui}} ui-btn-up-{{.}}{{/ui}}{{!
            }}{{/if}}{{!
            }} ui-btn-icon-{{get iconPos default="left" choices="left|right"}}{{!
            }}">{{!
            }}<span class="ui-btn-inner">{{!
                }}<span class="ui-btn-text">{{header.title}}</span>{{!
                }}<span class="ui-icon ui-icon-shadow{{!
                    }} ui-icon-{{!
                    }}{{#if collapsed}}{{!
                        }}{{get iconCollapsed default="plus"}}{{!
                    }}{{else}}{{!
                        }}{{get iconExpanded default="minus"}}{{!
                    }}{{/if}}">{{!
                    }}&nbsp;{{!
                }}</span>{{!
            }}</span>{{!
        }}</a>{{!
    }}</h4>{{!

// content

    }}<div class="ui-collapsible-content{{!
        }}{{#if content.ui}}{{!
            }} ui-body-{{content.ui}}{{!
        }}{{else}}{{!
            }}{{#ui}} ui-body-{{.}}{{/ui}}{{!
        }}{{/if}}{{!
        }}{{#if_eq collapsed compare=true default=false}}{{!
            }} ui-collapsible-content-collapsed{{!
        }}{{/if_eq}}{{!
        }}"{{!
        }}{{#id}} id="{{.}}-content"{{/id}}>{{!
        }}{{> items}}{{!
    }}</div>{{!

}}</div>