{{!

// floatingpanel

}}<div class="floatingpanel-overlay{{!
    }}{{#hidden}} hidden{{/hidden}}{{!
    }}{{#if overlay}} floatingpanel-overlay-{{overlay}}{{!
    }}{{else}} floatingpanel-overlay-default{{/if}}{{!
}}"{{!
}}{{#id}} id="{{.}}-overlay"{{/id}}>{{!
}}</div>{{!
}}<div class="floatingpanel{{!
    }}{{#arrow}} arrow-{{.}}{{/arrow}}{{!
    }}{{#hidden}} hidden{{/hidden}}{{!
    }}{{#ui}} floatingpanel-{{.}}{{/ui}}"{{!
    }}{{#style}} style="{{.}}"{{/style}}{{!
    }}{{#id}} id="{{.}}"{{/id}}>{{!
    }}{{#items}}{{!
        }}{{#safe .}}{{/safe}}{{!
    }}{{/items}}{{!
}}</div>