{{!

// listbuffered

}}<ul class="ui-listview{{!
    }}{{#inset}} ui-listview-inset{{/inset}}{{!
    }}{{#corner}} ui-listview-corner-{{.}}{{/corner}}{{!
    }}{{#shadow}} ui-shadow{{/shadow}}{{!
    }}{{#cssClass}} {{.}}{{/cssClass}}"{{!
    }}{{#style}} style="{{.}}"{{/style}}{{!
    }}{{#id}} id="{{.}}"{{/id}}>{{!
    }}{{#each items}}{{!
        }}<li class="ui-btn ui-li{{#../ui}} ui-btn-up-{{.}}{{/../ui}}">{{!
            }}{{#safe this}}{{/safe}}{{!
        }}</li>{{!
    }}{{/each}}{{!
}}</ul>{{!
}}<div class="list-loader{{!
    }}{{#ui}} list-loader-{{.}}{{/ui}}">{{!
    }}<a class="list-loader-text">{{!
        }}Loading...{{!
    }}</a>{{!
}}</div>