{{!

// loadmask

}}<div class="loadmask{{!
    }}{{#ui}} loadmask-{{.}}{{/ui}}{{!
    }}{{#if fullscreen}}{{!
        }} loadmask-fullscreen{{!
    }}{{else}}{{!
        }} loadmask-no-fullscreen{{!
    }}{{/if}}"{{!
    }}{{#style}} style="{{.}}"{{/style}}{{!
    }}{{#id}} id="{{.}}"{{/id}}>{{!
    }}<div class="loadmask-msg{{!
        }}{{#ui}} loadmask-msg-{{.}}{{/ui}}">{{!
        }}Loading...{{!
    }}</div>{{!
}}</div>