{{!

// panel

}}<div class="ui-panel{{!
    }}{{#ui}} ui-body-{{.}}{{/ui}}{{!
    }} panel-menu overthrow"{{> id}}>{{!
    }}<div class="ui-panel-inner panel-menu-inner">{{!
        }}{{> items}}{{!
    }}</div>{{!
}}</div>{{!
}}<div class="panel-menu-overlay"{{!
    }}{{#id}} id="{{.}}-overlay"{{/id}}>{{!
    }}&nbsp;{{!
}}</div>