{{!

// popup

}}<div class="floatingpanel-overlay{{!
    }}{{#if_eq hidden compare=true default=true}} hidden{{/if_eq}}{{!
    }}{{#if overlay}} floatingpanel-overlay-{{overlay}}{{!
    }}{{else}} floatingpanel-overlay-default{{/if}}{{!
    }}"{{!
    }}{{#id}} id="{{.}}-overlay"{{/id}}>{{!
}}</div>{{!
}}<div class="ui-dialog-contain{{!
    }}{{#shadow}} ui-overlay-shadow{{/shadow}}{{!
    }}{{#corner}} ui-corner-{{.}}{{/corner}}{{!
    }}{{#if_eq hidden compare=true default=true}} hidden{{/if_eq}}"{{!
    }} style="z-index: 10000;{{#actionSheet}}margin-{{.}}: 0px;{{/actionSheet}}{{#style}}{{.}}{{/style}}"{{!
    }}{{> id}}>{{!

// header

    }}{{#if header}}{{!
        }}<div class="ui-header{{#../ui}} ui-bar-{{.}}{{/../ui}}">{{!
            }}{{#header.title}}<h1 class="ui-title">{{.}}</h1>{{/header.title}}{{!
            }}{{#if header.close}}{{!
                }}<a href="javascript:;" class="{{!
                    }}ui-btn-{{header.close}} ui-btn{{!
                    }}{{#../../shadow}} ui-shadow{{/../../shadow}}{{!
                    }}{{#../../corner}} ui-btn-corner-{{.}}{{/../../corner}}{{!
                    }} ui-btn-icon-notext{{!
                    }}{{#../../ui}} ui-btn-up-{{.}}{{/../../ui}}"{{!
                    }}{{#../../id}} id="{{.}}-close"{{/../../id}}>{{!
                    }}<span class="ui-btn-inner">{{!
                        }}<span class="ui-btn-text">Close</span>{{!
                        }}<span class="ui-icon ui-icon-delete ui-icon-shadow">&nbsp;</span>{{!
                    }}</span>{{!
                }}</a>{{!
            }}{{/if}}{{!
        }}</div>{{!
    }}{{/if}}{{!

// content

    }}<div class="ui-content{{#ui}} ui-body-{{.}}{{/ui}}">{{!
        }}{{> items}}{{!
    }}</div>{{!

}}</div>