{{!

// radiobutton

}}<div class="ui-radio">{{!
    }}<label class="{{!
        }}ui-radio-{{#if_eq checked compare=true default=false}}on{{else}}off{{/if_eq}}{{!
        }} ui-btn{{!
        }}{{#corner}} ui-btn-corner-{{.}}{{/corner}}{{!
        }}{{#shadow}} ui-shadow{{/shadow}}{{!
        }}{{#if_eq size compare="small" default="medium"}} ui-mini{{/if_eq}}{{!
        }} ui-fullsize{{!
        }} ui-btn-icon-{{get iconPos default="left" choices="left|right"}}{{!
        }}{{#ui}} ui-btn-up-{{.}}{{/ui}}"{{!
        }}{{> for_id}}{{!
        }}{{#id}} id="{{.}}-ui"{{/id}}>{{!
        }}<span class="ui-btn-inner">{{!
            }}<span class="ui-btn-text">{{!
                }}{{#label}}{{.}}{{/label}}{{!
            }}</span>{{!
            }}<span class="ui-icon{{!
            }} ui-icon-radio-{{#if_eq checked compare=true default=false}}on{{else}}off{{/if_eq}}{{!
            }}{{#shadow}} ui-icon-shadow{{/shadow}}">{{!
                }}&nbsp;{{!
            }}</span>{{!
        }}</span>{{!
    }}</label>{{!
    }}<input type="radio"{{!
        }}{{#name}} name="{{.}}"{{/name}}{{!
        }}{{#value}} value="{{.}}"{{/value}}{{!
        }}{{> id}}>{{!
}}</div>