{{!

// page

}}<div class="ui-page ui-page-active{{! ui-page-panel
    }}{{#ui}} ui-body-{{.}}{{/ui}}{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{> items}}{{!

}}</div>
