<!doctype html>
<html>
    <head>
        <title>{{current.name}}@{{current.version}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {{#each files.stylesheets~}}
        <link href="{{.}}" media="all" rel="stylesheet" type="text/css"/>
        {{~/each}}
        <style>
            #demo-bubbles * {
                margin: 2px;
            }
        </style>
    </head>
    <body>
        {{#each files.javascripts~}}
        <script src="{{.}}"></script>
        {{~/each}}
    </body>
</html>
