{{!

    // header

}}<nav class="navbar{{!
    }}{{#ui}} navbar-{{.}}{{/ui}}{{!
    }}{{#position}} navbar-{{.}}-top{{/position}}{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{#title}}{{!

        }}<div class="navbar-header">{{!

            }}<button type="button" class="navbar-toggle">{{!
                }}<span class="sr-only">Toggle navigation</span>{{!
                }}<span class="icon-bar"></span>{{!
                }}<span class="icon-bar"></span>{{!
                }}<span class="icon-bar"></span>{{!
            }}</button>{{!

            }}<a class="navbar-brand" href="#">{{.}}</a>{{!

        }}</div>{{!

    }}{{/title}}{{!

    }}{{> items}}{{!

}}</nav>