{{!

    // menu

}}<ul class="{{!

    }}{{#isInParent "header" ifNo="menu"}}{{!
        }}nav navbar-nav{{!
    }}{{else}}{{!
        }}dropdown-menu{{!
    }}{{/isInParent}}{{!

    }}">{{!

    }}{{> items}}{{!

}}</ul>