{{!

    // menuitem

}}<li class="{{> cssClass}}{{!
    }}{{#if_eq active compare=true}} active{{/if_eq}}{{!
    }}{{#if items}} dropdown{{/if}}{{!
    }}"{{!
    }}{{> style}}{{!
    }}>{{!

    }}<a href="#"{{#if items}} class="dropdown-toggle"{{/if}}{{> id}}>{{!

        }}{{title}}{{!
        }}{{#if items}}<b class="caret"></b>{{/if}}{{!

    }}</a>{{!

    }}{{> items}}{{!

}}</li>