.startanim .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.startanim .animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}