{{!

// tabs

}}<div class="ui-navbar{{!
    }}{{#if_eq mini compare=true default=true}} ui-mini{{/if_eq}}{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!
    }}<ul class="ui-grid-{{getLengthLetter items}}">{{!

        }}{{#each items}}{{!
            }}<li class="ui-block-{{getIndexLetter @index}}">{{!
                }}{{#safe .}}{{/safe}}{{!
            }}</li>{{!
        }}{{/each}}{{!

    }}</ul>{{!
}}</div>
