{{!

// footer

}}<div class="bar bar-footer{{!
    }}{{#ui}} bar-{{.}}{{/ui}}{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{#title}}<h1 class="title">{{.}}</h1>{{/title}}{{!

    }}{{> items}}{{!

}}</div>
