{{!

// alert

}}<div class="popup popup-showing active{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{#title}}{{!
        }}<div class="popup-head">{{!
            }}<h3 class="popup-title">{{!
                }}{{.}}{{!
            }}</h3>{{!
        }}</div>{{!
    }}{{/title}}{{!

    }}{{#message}}{{!
        }}<div class="popup-body">{{!
            }}<span>{{.}}</span>{{!
        }}</div>{{!
    }}{{/message}}{{!

    }}<div class="popup-buttons row">{{!
        }}{{> items}}{{!
}}{{!--         <button class="button col disable-user-behavior button-default">
            Cancel
        </button>

        <button class="button col disable-user-behavior button-positive">
            OK
        </button> --}}{{!
    }}</div>{{!

}}</div>{{!

}}<div class="popup-backdrop{{!
    }}{{#overlay}} popup-backdrop-{{.}}{{/overlay}}"{{!
    }}{{#id}} id="{{.}}-overlay"{{/id}}>{{!
}}</div>