<label class="toggle{{!
	}}{{#ui}} toggle-{{.}}{{/ui}}{{!
	}}{{> cssClass}}"{{> style}}{{> id}}>{{!
	}}<input type="checkbox">{{!
	}}<div class="track">{{!
		}}<div class="handle"></div>{{!
	}}</div>{{!
}}</label>