{{!

    // carousel

}}<div class="slider"{{> id}}{{#style}} style="{{.}}"{{/style}}>{{!
    }}<div class="slides">{{!

        }}{{#each images}}{{!
            }}<div class="slide slide-image" style="background-image: url({{.}});"></div>{{!
        }}{{/each}}{{!

    }}</div>{{!
}}</div>