{{!

// card

}}<div class="card{{!
    }}{{#hidden}} hidden{{/hidden}}{{!
    }}{{#ui}} card-{{.}}{{/ui}}{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{#header}}{{!
        }}<div class="item item-divider">{{.}}</div>{{!
    }}{{/header}}{{!

    }}{{#foreach items}}{{!

        }}{{#config $index}}{{!

            }}{{#if title}}{{!
                }}<div class="item item-divider">{{title}}</div>{{!
            }}{{/if}}{{!

            }}<div class="item item-text-wrap{{!
                }}{{#if_eq padding compare=false default=true}}{{!
                    }} item-nopadding{{!
                }}{{/if_eq}}{{!

                }}">{{!

                }}{{safe ../original}}{{!

            }}</div>{{!

        }}{{else}}{{!

            }}<div class="item item-text-wrap">{{!
                }}{{safe ../original}}{{!
            }}</div>{{!

        }}{{/config}}{{!

    }}{{/foreach}}{{!

    }}{{#footer}}{{!
        }}<div class="item item-divider">{{.}}</div>{{!
    }}{{/footer}}{{!

}}</div>
