<!DOCTYPE html>
<html>
    <head>
        <title>{{me.name}}@{{me.version}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="My app">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="width">
        <meta name="format-detection" content="telephone=no" />
        {{#each files.stylesheets~}}
        <link href="{{.}}?t={{timestamp}}&v={{../current.version}}" media="all" rel="stylesheet" type="text/css"/>
        {{~/each}}
        <style type="text/css">
        .hidden { display: none; position: relative; visibility: visible; }
        select { position: relative; z-index: 999; visibility: visible; }
        </style>
    </head>
    <body>
        {{#each files.javascripts~}}
        <script src="{{.}}?t={{timestamp}}&v={{../current.version}}"></script>
        {{/each~}}
    </body>
</html>
