.baidu-viewport {
    width: 100%;
    height: 200px;
}

.baidu-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:0;
    top: 50px;
    left: 0;
    padding: 0;
}

.BMap_pop, .BMap_shadow {
    margin-top: -26px !important;
}