.slides, .slides .slide {
    -webkit-transform: translate3D(0, 0, 0);
}

.slides, .slide {
    height: 100%;
}

.slide {
    display: inline-block;
}

.slide-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
