{{!

// selectitembasic

}}{{#each options}}{{!

    }}<option value="{{value}}"{{!

        }}{{#if_eq value compare=../value}}{{!
            }} selected="selected"{{!
        }}{{/if_eq}}{{!

        }}{{#if_eq disabled compare=true default=false}}{{!
            }} disabled="disabled"{{!
        }}{{/if_eq}}{{!

        }}>{{!

        }}{{#label}}{{!
            }}{{.}}{{!
        }}{{else}}{{!
            }}{{value}}{{!
        }}{{/label}}{{!

    }}</option>{{!

}}{{/each}}