.loadmask {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -30px 0px 0px -30px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 999999;
    border-radius: 3px;
}

.loadmask i:before {
    text-align: center;
    line-height: 60px;
    font-size: 45px;
    color: #fff;
}