.platform-cordova.platform-ios7 .bar-header.bar-red {
    -webkit-box-shadow: inset 0 21px 0 0 rgba(0,0,0,0.2);
    box-shadow: inset 0 21px 0 0 rgba(0,0,0,0.2);
}

.bar.bar-red {
    border-color: transparent;
    background: -webkit-linear-gradient(right, #CF0833 0%, #F05D62 100%);
    background: -moz-linear-gradient(right, #CF0833 0%, #F05D62 100%);
    background: linear-gradient(from top, rgba(0, 0, 0, 0.2) 40px, transparent);
    color: #fff;
}

.grade-b .bar.bar-red,
.grade-c .bar.bar-red {
    background: #F05D62;
}

.bar.bar-red .button {
    color: #fff;
}

.bar.bar-red .title {
    color: #fff;
}