{{!

    // listitemthumbnail

}}{{#foreach items}}{{!

    }}<a class="item list-item item-thumbnail-{{get imagePosition default="left" choices="left|right"}}" href="javascript:;">{{!
        }}{{#image}}<img src="{{.}}">{{/image}}{{!
        }}{{#title}}<h2>{{.}}</h2>{{/title}}{{!
        }}{{#desc}}<p>{{.}}</p>{{/desc}}{{!
    }}</a>{{!

}}{{/foreach}}
