{{!

// button

}}<button class="topcoat-button{{!
    }}{{#if_eq size compare="large"}}--large{{/if_eq}}{{!
    }}{{#ui}}--{{.}}{{/ui}}{{! "cta" or "quiet"
    }}{{> cssClass}}"{{!
    }}{{#if_eq disabled compare=true default=false}} disabled{{/if_eq}}{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{#text}}{{.}}{{/text}}{{!

}}</button>