{{!

// checkbox

}}<label class="topcoat-checkbox"{{!
    }}{{> id}}>{{!

    }}<input type="checkbox"{{!
    }}{{#if_eq disabled compare=true default=false}} disabled="disabled"{{/if_eq}}{{!
    }}>{{!

    }}<div class="topcoat-checkbox__checkmark"></div>{{!

    }}{{#label}}{{.}}{{/label}}{{!

}}</label>