{{!

// controlgroup

}}<div class="topcoat-button-bar{{!
    }}{{> cssClass}}"{{!
    }}{{> id}}>{{!

    }}{{#foreach buttons}}{{!

        }}<div class="topcoat-button-bar__item">{{!
            }}<button class="topcoat-button-bar__button{{!
            }}{{#if_eq ../size compare="large"}}--large{{/if_eq}}{{!
            }}{{> cssClass}}">{{!
                }}{{#text}}{{.}}{{/text}}{{!
            }}</button>{{!
        }}</div>{{!

    }}{{/foreach}}{{!

}}</div>