{{!

// flipswitch

}}<label class="topcoat-switch"{{> id}}>{{!

    }}<input type="checkbox" class="topcoat-switch__input"{{!
        }}{{#if_eq disabled compare=true default=false}} disabled="disabled"{{/if_eq}}{{!
        }}{{#if_eq value compare=true default=false}} checked="checked"{{/if_eq}}{{!
        }}>{{!

    }}<div class="topcoat-switch__toggle"></div>{{!

    }}{{#label}}{{.}}{{/label}}{{!

}}</label>