{{!

// header

}}<div class="topcoat-navigation-bar{{!
    }}{{#ui}} {{.}}{{/ui}}{{!
    }}{{> cssClass}}{{!
    }}{{#position}} {{.}}{{/position}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{#title}}{{!

    }}<div class="topcoat-navigation-bar__item center full">{{!
        }}<h1 class="topcoat-navigation-bar__title">{{.}}</h1>{{!
    }}</div>{{!

    }}{{/title}}{{!

    }}{{> items}}{{!

}}</div>