{{!

// listitembasic

}}<ul class="topcoat-list__container">{{!

    }}{{#foreach items}}{{!

        }}<li class="topcoat-list__item">{{!
            }}{{#label}}{{.}}{{/label}}{{!
        }}</li>{{!

    }}{{/foreach}}{{!

}}</ul>