{{!

// listitemfull

}}{{#foreach items}}{{!

    }}{{#if_eq type compare="divider"}}{{!

        }}<h3 class="topcoat-list__header">{{label}}</h3>{{!

    }}{{else}}{{!

        }}{{#if_prop ../../items index=$index prop="type" indexDiff=-1 compare="divider"}}{{!
            }}<ul class="topcoat-list__container">{{!
        }}{{/if_prop}}{{!

            }}<li class="topcoat-list__item">{{!

                }}{{#label}}{{.}}{{/label}}{{!

            }}</li>{{!

        }}{{#if_prop ../../items index=$index prop="type" indexDiff=1 compare="divider"}}{{!
            }}</ul>{{!
        }}{{else}}{{!

            }}{{#if_eq $last compare=true}}</ul>{{/if_eq}}{{!

        }}{{/if_prop}}{{!

    }}{{/if_eq}}{{!

}}{{/foreach}}