{{!

// tabs

}}<div class="topcoat-tab-bar{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}<ul class="ui-grid-{{getLengthLetter items}}">{{!
        }}{{#each items}}{{!
            }}<li class="ui-block-{{getIndexLetter @index}}">{{!
                }}{{#safe .}}{{/safe}}{{!
            }}</li>{{!
        }}{{/each}}{{!
    }}</ul>{{!

}}</div>