{{!

// textfield

}}<input type="{{#if type}}{{type}}{{else}}text{{/if}}"{{!
    }} class="topcoat-search-input{{!
    }}{{#if_eq size compare="large"}}--large{{/if_eq}}{{!
    }}{{#if_eq type compare="search"}} topcoat-search-input{{else}} topcoat-text-input{{/if_eq}}"{{!
    }}{{#autocomplete}} autocomplete="{{.}}"{{/autocomplete}}{{!
    }}{{#name}} name="{{.}}"{{/name}}{{!
    }}{{#pattern}} pattern="{{.}}"{{/pattern}}{{!
    }}{{#value}} value="{{.}}"{{/value}}{{!
    }}{{#placeHolder}} placeholder="{{.}}"{{/placeHolder}}{{!
    }}{{#if_eq disabled compare=true default=false}} disabled="disabled"{{/if_eq}}{{!
    }}{{#if_eq required compare=true default=false}} required{{/if_eq}}{{!
    }}{{#if_eq readonly compare=true default=false}} readonly{{/if_eq}}{{!
    }}{{> id}}>