{{!

// textarea

}}<textarea class="topcoat-textarea{{!
    }}{{#if_eq size compare="large"}}--large{{/if_eq}}{{!
    }}{{#ui}} {{.}}{{/ui}}{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{#name}} name="{{.}}"{{/name}}{{!
    }}{{#placeHolder}} placeholder="{{.}}"{{/placeHolder}}{{!
    }}{{#if_eq disabled compare=true default=false}} disabled="disabled"{{/if_eq}}{{!
    }}{{#if_eq required compare=true default=false}} required{{/if_eq}}{{!
    }}{{#cols}} cols="{{.}}"{{/cols}}{{!
    }}{{#rows}} rows="{{.}}"{{/rows}}{{!
    }}{{> id}}>{{!

    }}{{#value}}{{.}}{{/value}}{{!

}}</textarea>