@charset "UTF-8";

@font-face {
  font-family: 'icons';
  src: url('{{public}}fonts/entypo.eot');
  src: url('{{public}}fonts/entypo.eot?#iefix') format('embedded-opentype'),
    url('{{public}}fonts/entypo.woff') format('woff'),
    url('{{public}}fonts/entypo.ttf') format('truetype'),
    url('{{public}}fonts/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
}
