{{!

// footer

}}<div class="ui-footer{{!
    }}{{#ui}} ui-bar-{{.}}{{/ui}}{{!
    }}{{> cssClass}}{{!
    }}{{#position}} ui-footer-{{.}}{{/position}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{> items}}{{!

}}</div>
