{{!

    row

}}<div class="row{{> cssClass}}"{{> style}}{{> id}}>{{!

    }}{{#foreach items}}{{!

        }}<div class="col{{!

            }}{{#config $index}}{{!
                }}{{#if col}} col-{{col}}{{/if}}{{!
                }}{{#if colCssClass}} {{colCssClass}}{{/if}}{{!
            }}{{/config}}{{!

            }}">{{!

            }}{{#safe original}}{{/safe}}{{!

        }}</div>{{!

    }}{{/foreach}}{{!

}}</div>