{{!

// select

}}{{#label}}<label class="ui-select"{{> for_id}}>{{.}}</label>{{/label}}{{!
}}<div{{#id}} id="{{.}}-ui"{{/id}} class="ui-select">{{!
    }}<div class="ui-btn{{!
        }}{{#shadow}} ui-shadow{{/shadow}}{{!
        }}{{#corner}} ui-btn-corner-{{.}}{{/corner}}{{!
        }}{{#if_eq disabled compare=true default=false}} ui-disabled{{/if_eq}}{{!
        }}{{#if_eq size compare="small" default="medium"}} ui-mini{{/if_eq}}{{!
        }} ui-btn-icon-{{get iconPos default="right" choices="left|right"}}{{!
        }}{{#ui}} ui-btn-up-{{.}}{{/ui}}">{{!
        }}<span class="ui-btn-inner">{{!
            }}<span class="ui-btn-text">{{!
                }}{{#if value}}{{!
                    }}{{getLabelFromValue . ../options}}{{!
                }}{{else}}{{!
                    }}{{#emptyText}}{{.}}{{/emptyText}}{{!
                }}{{/if}}{{!
            }}</span>{{!
            }}<span class="ui-icon ui-icon-arrow-d{{!
                }}{{#shadow}} ui-icon-shadow{{/shadow}}">{{!
                }}&nbsp;{{!
            }}</span>{{!
            }}<select{{!
                }}{{#name}} name="{{.}}"{{/name}}{{> id}}>{{!
                }}{{#each options}}{{!
                    }}<option value="{{value}}"{{!
                        }}{{#if_eq value compare=../value}} selected="selected"{{/if_eq}}{{!
                        }}{{#if_eq disabled compare=true default=false}} disabled="disabled"{{/if_eq}}{{!
                        }}>{{label}}{{!
                    }}</option>{{!
                }}{{/each}}{{!
            }}</select>{{!
        }}</span>{{!
    }}</div>{{!
}}</div>