.refresh {
    color: #888;
    font-weight: bold;
    height: 50px;
    margin-top: -50px;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
}

/*.refresh span:after {
    padding-left: 10px;
    content: "Pull to refresh";
}

.refresh.active span:after {
    content: "Release to Refresh";
}

.refresh.active.running span:after {
    content: "Refreshing";
}
*/
.refresh .ion {
    -webkit-transition: -webkit-transform 300ms;
    -moz-transition: -moz-transform 300ms;
    -ms-transition: -ms-transform 300ms;
    transition: transform 300ms;
    font-size: 20px;
    line-height: 50px;
    color: #aaa;
}

/*.refresh.active {}*/

.refresh.active .ion {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*.refresh.running {}*/