{{!

// bubble

}}<span class="{{!
    }}{{#if ui}}{{!

        }}{{#ui}} count-{{.}}{{/ui}}{{!

    }}{{else}}{{!

        }}count{{!

    }}{{/if}}{{! "main", "positive", "negative"

    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{label}}{{!

}}</span>