{{!

// button

}}<a class="{{!
    }}{{#if ui}}{{!

        }}{{#ui}} button-{{.}}{{/ui}}{{!

    }}{{else}}{{!

        }}button{{!

    }}{{/if}}{{! "prev", "next", "main", "positive", "negative"

    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{#text}}{{.}}{{/text}}{{!

    }}{{#bubble}}{{!
        }}<span class="count">{{.}}</span>{{!
    }}{{/bubble}}{{!

}}</a>