{{!

// controlgroup

}}<ul class="segmented-controller{{!
    }}{{> cssClass}}"{{!
    }}{{> id}}>{{!

    }}{{#foreach buttons}}{{!

        }}<li{{#if_eq active compare=true default=false}} class="active"{{/if_eq}}>{{!

            }}<a class="{{> cssClass}}">{{!
                }}{{#text}}{{.}}{{/text}}{{!
            }}</a>{{!

        }}</li>{{!

    }}{{/foreach}}{{!

}}</ul>