{{!

// flipswitch

}}<div class="toggle{{!
    }}{{#if_eq value compare=true default=false}} active{{/if_eq}}{{!
    }}"{{!
    }}{{#id}} id="{{.}}-ui"{{/id}}>{{!

    }}<div class="toggle-handle"{{> id}}></div>{{!

    }}{{#label}}{{.}}{{/label}}{{!

}}</div>