{{!

// floatingpanel

}}<div class="floatingpanel-overlay{{!
    }}{{#hidden}} hidden{{/hidden}}{{!
    }}{{#if overlay}} floatingpanel-overlay-{{overlay}}{{!
    }}{{else}} floatingpanel-overlay-default{{/if}}{{!
    }}"{{!
    }}{{#id}} id="{{.}}-overlay"{{/id}}>{{!
}}</div>{{!

}}<div class="popover{{!
    }}{{#hidden}} hidden{{/hidden}}{{!
    }}{{#ui}} {{.}}{{/ui}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{#header}}{{!

        }}<header class="popover-header">{{!
            }}{{#title}}<h3 class="title">{{.}}</h3>{{/title}}{{!

            }}{{#button}}{{!
                }}<a class="button" href="#{{route}}">{{text}}</a>{{!
            }}{{/button}}{{!

        }}</header>{{!

    }}{{/header}}{{!

    }}{{> items}}{{!

}}</div>