{{!

// header

}}<header class="bar-title{{!
    }}{{#ui}} {{.}}{{/ui}}{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{#title}}<h1 class="title">{{.}}</h1>{{/title}}{{!

    }}{{> items}}{{!

}}</header>