{{!

// inputgroup

}}<div class="input-group">{{!

    }}{{#foreach items}}{{!

        }}{{#config $index}}{{!
            }}{{#if label}}<div class="input-row">{{/if}}{{!
        }}{{/config}}{{!

        }}{{#safe original}}{{/safe}}{{!

        }}{{#config $index}}{{!
            }}{{#if label}}</div>{{/if}}{{!
        }}{{/config}}{{!

    }}{{/foreach}}{{!

}}</div>