{{!

// listitemfull

}}{{#foreach items}}{{!

    }}<li{{#if_eq type compare="divider"}} class="list-divider"{{/if_eq}}>{{!

        }}{{#label}}{{.}}{{/label}}{{!

        }}{{#if_eq icon compare="arrow"}}{{!
            }}<span class="chevron"></span>{{!
        }}{{/if_eq}}{{!

        }}{{#bubble}}{{!
            }}<span class="count">{{.}}</span>{{!
        }}{{/bubble}}{{!

        }}{{#items}}{{!
            }}{{render .}}{{!
        }}{{/items}}{{!

    }}</li>{{!

}}{{/foreach}}