{{!

// list

}}<ul class="list{{!
    }}{{#inset}} inset{{/inset}}{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!
}}</ul>{{!

}}<div {{#id}} id="{{.}}-loader"{{/id}}{{!
    }} class="list-loader{{!
    }}{{#if_eq isLoading compare=false defaults=true}} list-loader-hide{{/if_eq}}{{!
    }}{{#ui}} list-loader-{{.}}{{/ui}}">{{!
    }}<a class="list-loader-text">{{!
        }}Loading...{{!
    }}</a>{{!
}}</div>