{{!

// tabbutton

}}<a{{!
    }}{{#route}} href="#{{.}}"{{/route}}{{!
    }}{{> id}}>{{!

    }}{{#icon}}{{!
        }}<span class="icon tab-icon">{{.}}</span>{{!
    }}{{/icon}}{{!

    }}{{#text}}{{!
        }}<div class="tab-label">{{.}}</div>{{!
    }}{{/text}}{{!

}}</a>