{{!

// tabs

}}<nav class="bar-tab{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}<ul class="tab-inner">{{!

        }}{{#foreach items}}{{!
            }}<li class="tab-item{{!

                }}{{#config $index}}{{!
                    }}{{#if_eq active compare=true}}{{!
                        }} active{{!
                    }}{{/if_eq}}">{{!
                }}{{/config}}{{!

                }}{{#safe original}}{{/safe}}{{!

            }}</li>{{!
        }}{{/foreach}}{{!

    }}</ul>{{!

}}</div>