{{!

// textfield

}}{{#if label}}<label{{> for_id}}>{{label}}</label>{{/if}}{{!

}}<input type="{{#if type}}{{type}}{{else}}text{{/if}}"{{!
    }}{{#cssClass}} class="{{> cssClass}}"{{/cssClass}}{{!
    }}{{#autocomplete}} autocomplete="{{.}}"{{/autocomplete}}{{!
    }}{{#name}} name="{{.}}"{{/name}}{{!
    }}{{#pattern}} pattern="{{.}}"{{/pattern}}{{!
    }}{{#value}} value="{{.}}"{{/value}}{{!
    }}{{#placeHolder}} placeholder="{{.}}"{{/placeHolder}}{{!
    }}{{#if_eq disabled compare=true default=false}} disabled="disabled"{{/if_eq}}{{!
    }}{{#if_eq required compare=true default=false}} required{{/if_eq}}{{!
    }}{{#if_eq readonly compare=true default=false}} readonly{{/if_eq}}{{!
    }}{{> id}}>