{{!

// textarea

}}{{#if label}}<label{{> for_id}}>{{label}}</label>{{/if}}{{!

}}<textarea class="{{!
    }}{{#ui}} {{.}}{{/ui}}{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{#name}} name="{{.}}"{{/name}}{{!
    }}{{#placeHolder}} placeholder="{{.}}"{{/placeHolder}}{{!
    }}{{#if_eq disabled compare=true default=false}} disabled="disabled"{{/if_eq}}{{!
    }}{{#if_eq required compare=true default=false}} required{{/if_eq}}{{!
    }}{{#cols}} cols="{{.}}"{{/cols}}{{!
    }}{{#rows}} rows="{{.}}"{{/rows}}{{!
    }}{{> id}}>{{!

    }}{{#value}}{{.}}{{/value}}{{!

}}</textarea>