.pull {
    padding: 0;
    height: 50px;
    text-align: center;
}

.pull-icon {
    display: none;
    font-size: 60px;
    margin-right: 10px;
    line-height: 50px;
    text-align: right;
    height: 50px;
    vertical-align: middle;
    -webkit-transform: rotate(0deg);
    -webkit-transition-property: color;
    -webkit-transition-duration: .5s;
}

.pull-show {
    display: inline-block;
}

.pull-text {
    text-align: left;
    display: inline-block;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
}

.loading-icon {
    display: none;
    font-size: 60px;
    margin-right: 10px;
    line-height: 50px;
    text-align: right;
    height: 50px;
    vertical-align: middle;
}

.pull-loading {
    display: inline-block;
    -webkit-animation: loadingrotate .85s linear infinite;
}

@-webkit-keyframes loadingrotate {
    to { -webkit-transform: rotate(360deg); }
}
