{{!

// select

}}<label class="item item-input item-select{{!
    }}{{#if_eq labelInline compare=false default=true}}{{!
        }} item-stacked-label{{!
    }}{{/if_eq}}{{!
    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
}}>{{!

    }}{{#label}}{{!
        }}<span class="input-label">{{.}}</span>{{!
    }}{{/label}}{{!

    }}{{#icon}}{{!
        }}<i class="icon {{.}} icon-big" style="margin: 0px 10px;"></i>{{!
    }}{{/icon}}{{!

    }}<select {{!

        }}{{#autocomplete}} autocomplete="{{.}}"{{/autocomplete}}{{!
        }}{{#name}} name="{{.}}"{{/name}}{{!
        }}{{#pattern}} pattern="{{.}}"{{/pattern}}{{!
        }}{{#placeHolder}} placeholder="{{.}}"{{/placeHolder}}{{!

        }}{{#if attrs}}{{!
            }}{{#key_value attrs}}{{!
                }} {{key}}="{{value}}"{{!
            }}{{/key_value}}{{!
        }}{{/if}}{{!

        }}{{#if_eq disabled compare=true default=false}} disabled="disabled"{{/if_eq}}{{!
        }}{{#if_eq required compare=true default=false}} required{{/if_eq}}{{!
        }}{{#if_eq readonly compare=true default=false}} readonly{{/if_eq}}{{!
        }}{{style inputStyle}}{{!

    }}{{> id}}>{{!

    }}{{#each options}}{{!

        }}<option value="{{value}}"{{!

            }}{{#if_eq value compare=../value}}{{!
                }} selected="selected"{{!
            }}{{/if_eq}}{{!

            }}{{#if_eq disabled compare=true default=false}}{{!
                }} disabled="disabled"{{!
            }}{{/if_eq}}{{!

            }}>{{!

            }}{{#label}}{{!
                }}{{.}}{{!
            }}{{else}}{{!
                }}{{value}}{{!
            }}{{/label}}{{!

        }}</option>{{!

    }}{{/each}}{{!

    }}</select>{{!

}}</label>