{{!

// listitemfull

}}{{#foreach items}}{{!

    }}{{#if_eq type compare="divider"}}{{!

        }}<div class="item item-divider">{{label}}</div>{{!

    }}{{else}}{{!

        }}<{{#if_eq arrow compare=true default=true}}{{!
            }}a{{!
        }}{{else}}{{!
            }}div{{!
        }}{{/if_eq}} class="list-item item{{!

            }}{{#if icon}}{{!
                }} item-icon-{{get iconPos default="left"}}{{!
            }}{{/if}}{{!

            }}{{#if button}}{{!
                    }} item-button-{{get button.position default="right"}}{{!
            }}{{/if}}{{!

            }}">{{!

            }}{{#icon}}<i class="icon ion-{{.}}"></i>{{/icon}}{{!

            }}{{#label}}{{.}}{{/label}}{{!

            }}{{#note}}<span class="item-note">{{.}}</span>{{/note}}{{!

            }}{{#bubble}}<span class="badge badge-{{#if ../ui}}{{.}}{{else}}assertive{{/if}}">{{.}}</span>{{/bubble}}{{!

            }}{{#button}}{{!

                }}<button class="button{{#ui}} button-{{.}}{{/ui}}">{{!
                    }}<i class="icon ion-{{icon}}"></i>{{!
                }}</button>{{!

            }}{{/button}}{{!

        }}</{{#if_eq arrow compare=true default=true}}{{!
            }}a{{!
        }}{{else}}{{!
            }}div{{!
        }}{{/if_eq}}>{{!

    }}{{/if_eq}}{{!

}}{{/foreach}}
