{{!

// searchfield

}}<label class="{{!

    }}{{#if_eq wrapper compare=true default=false}}{{!

        }}item-input-wrapper{{!

    }}{{else}}{{!

        }}item item-input{{!
        }}{{#if_eq labelInline compare=false default=true}}{{!
            }} item-stacked-label{{!
        }}{{/if_eq}}{{!

    }}{{/if_eq}}{{!

    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
}}>{{!

    }}{{#label}}{{!
        }}<span class="input-label">{{.}}</span>{{!
    }}{{/label}}{{!

    }}{{#icon}}{{!
        }}<i class="icon {{.}} placeholder-icon"></i>{{!
    }}{{/icon}}{{!

    }}<input type="{{#if type}}{{type}}{{else}}text{{/if}}"{{!

        }}{{#autocomplete}} autocomplete="{{.}}"{{/autocomplete}}{{!
        }}{{#name}} name="{{.}}"{{/name}}{{!
        }}{{#pattern}} pattern="{{.}}"{{/pattern}}{{!
        }}{{#value}} value="{{.}}"{{/value}}{{!
        }}{{#placeHolder}} placeholder="{{.}}"{{/placeHolder}}{{!

        }}{{#if attrs}}{{!
            }}{{#key_value attrs}}{{!
                }} {{key}}={{value}}{{!
            }}{{/key_value}}{{!
        }}{{/if}}{{!

        }}{{#if_eq disabled compare=true default=false}} disabled="disabled"{{/if_eq}}{{!
        }}{{#if_eq required compare=true default=false}} required{{/if_eq}}{{!
        }}{{#if_eq readonly compare=true default=false}} readonly{{/if_eq}}{{!
        }}{{style inputStyle}}{{!

    }}{{> id}}>{{!

}}</label>