{{!

    // listitemavatar

}}{{#foreach items}}{{!

    }}<a class="item list-item item-avatar" href="javascript:;">{{!
        }}{{#image}}<img src="{{.}}">{{/image}}{{!
        }}{{#title}}<h2>{{.}}</h2>{{/title}}{{!
        }}{{#desc}}<p>{{.}}</p>{{/desc}}{{!
    }}</a>{{!

}}{{/foreach}}
