.tabs.tabs-darkgray {
    background: #25262f;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-color: transparent;
}

.tab-item.darkgray {
    color: #fff;
}

.tab-item.darkgray span {
    opacity: 1;
    -webkit-transition: opacity linear .35s,
        -webkit-transform linear .35s;
    display: inline-block;
    -webkit-transform: translate3d(0px, -23px, 0px);
    //font-size: 95%;
    font-size: 80%;
}

.tab-item.darkgray.active span {
    opacity: 0;
    -webkit-transform: translate3d(0px, 10px, 0px);
}

.tab-item.darkgray i.icon {
    background-color: transparent, transparent;
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: 22px 22px, contain;
    width: 36px;
    height: 36px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transition: -webkit-transform linear .35s,
        background-size linear .35s;
}

.tab-item.darkgray i.icon.home {
    background-image: url(images/icons/footer-home.png), none;
}

.tab-item.darkgray.active i.icon.home {
    background-image: url(images/icons/footer-home-active.png),
        url(images/tabs/active-background@2x.png);
}

.tab-item.darkgray i.icon.list {
    background-image: url(images/icons/footer-list.png), none;
}

.tab-item.darkgray.active i.icon.list {
    background-image: url(images/icons/footer-list-active.png),
        url(images/tabs/active-background@2x.png);
}

.tab-item.darkgray i.icon.more {
    background-image: url(images/icons/footer-more.png), none;
}

.tab-item.darkgray.active i.icon.more {
    background-image: url(images/icons/footer-more-active.png),
        url(images/tabs/active-background@2x.png);
}

.tab-item.darkgray i.icon.user {
    background-image: url(images/icons/footer-user.png), none;
}

.tab-item.darkgray.active i.icon.user {
    background-image: url(images/icons/footer-user-active.png),
        url(images/tabs/active-background@2x.png);
}

.tab-item.darkgray.active i.icon {
    -webkit-transform: translate3d(0px, 5px, 0px);
    background-size: 21px 21px, contain;
}