{{!

// tabbutton

}}<a class="tab-item{{!
    }}{{#ui}} {{.}}{{/ui}}{{!
    }}{{#if_eq active compare=true default=false}} active{{/if_eq}}{{!
    }}{{> cssClass}}"{{!

    }}{{#route}} href="#{{.}}"{{/route}}{{!
    }}{{#name}} data-name="{{.}}"{{/name}}{{!

    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{#icon}}{{!
        }}<i class="icon {{.}}"></i>{{!
    }}{{/icon}}{{!

    }}{{#text}}<span>{{.}}</span>{{/text}}{{!

}}</a>
