{{!

// content

}}<div class="content{{!

    }}{{#if_eq hasHeader compare=true default=false}} has-header{{/if_eq}}{{!
    }}{{#if_eq hasSubHeader compare=true default=false}} has-subheader{{/if_eq}}{{!
    }}{{#if_eq hasFooter compare=true default=false}} has-footer{{/if_eq}}{{!
    }}{{#if_eq padding compare=true default=true}} padding{{/if_eq}}{{!
    }}{{#if_eq hidden compare=true default=false}} hidden{{/if_eq}}{{!

    }}{{> cssClass}}"{{!
    }}{{> style}}{{!
    }}{{> id}}>{{!

    }}{{> items}}{{!

}}</div>
